@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('header.css');

:root{
    --cor-primaria: #FFFFFF;
    --cor-texto-primaria: #3A404E;
    --cor-texto-secundaria: #667085;
    --cor-texto-terciaria: #101828;
    --cor-secundaria: #8E2424;
    --fonte-primaria: 'Inter', sans-serif;
}

.sobre-nos {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: var(--fonte-primaria);
    flex-direction: column;
    margin: 6rem 0;
}

.sobre-nos__identificacao {
    color: var(--cor-secundaria);
    font-weight: bold;
    display: block;
    font-size: 1rem;
}
.sobre-nos__titulo {
    color: var(--cor-texto-primaria);
    display: block;
    font-size: 3rem;
    margin: 1.5rem 0;
}

.sobre-nos__texto {
    color: var(--cor-texto-secundaria);
    font-size: 20px;
    display: block;
    margin: 0 25vw;
    
}

.metricas {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: var(--fonte-primaria);
    margin: 0 5rem 6rem 5rem;
    padding: 0 2rem;
}

.container-metricas{
    margin: 0 1rem;

}

.container-metricas__titulo{
    font-size: 60px;
    color: var(--cor-secundaria);
    margin-bottom: 0.75rem;
}

.container-metricas__subtitulo {
    font-size: 18px;
    color: var(--cor-texto-terciaria);
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.container-metricas__texto{
    font-size: 16px;
    color: var(--cor-texto-secundaria);

}

.vagas{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    font-family: var(--fonte-primaria);
    flex-direction: column;    
    margin: 6rem 5rem;
}

.vagas__cabecalho {
    text-align: center;
    margin-bottom: 4rem;

}
.vagas__titulo {
    font-size: 36px;
}

.vagas__identificacao{
    color: var(--cor-secundaria);
    font-size: 14px;
    background-color: #8E242410;
    border-radius: 8px;
    width: 125px;
    display: inline-block;
}

.vagas__texto {
    color: var(--cor-texto-secundaria);
}

.vaga__container{
    margin: 0 auto;
}

.vaga__tipo {
    color: var(--cor-texto-terciaria);
    margin-bottom: 2rem;
    font-size: 20px;
}

.vaga__descricao {
    margin: 1rem auto;
    border: #EAECF0 solid 1px;
    border-radius: 8px;
    display: block;
    padding: 1.5rem;
    width: 40vw;
}

.vaga__titulo {
    color: var(--cor-texto-terciaria);
    font-size: 18px;
    display: block;
    margin-bottom: 2rem;
}

.vaga__informacoes {
    color: var(--cor-texto-secundaria);
    font-size: 16px;
    display: inline;
}